*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
h1{
    font-family: 'fredoka One', cursive;
    width: 28rem;
    font-size: 75px;
    position: relative;
    left: 12%;
    padding-top: 3%;
}
header{
    display: inline-flex;
}
#img-principal{
    width: 34%;
    position: relative;
    left: 34%;
}
main{
    background-color: #12CDD4;
}

#resultado{
    display: block;
    background-color: aquamarine;
}

.card{
    
    align-items: center;
    padding-left: 30%;
    padding-top: 2%;
}
#vento{
    width: 65px;
    height: 60px;
    z-index: 0;
    left: 5rem;
    bottom: 9.5rem;
    position: relative;
}
.legendAirvisualWidget-62503809e80a527e85a0fde2{
    background-color: white !important;
    
}
.wrapperAirvisualWidget-62503809e80a527e85a0fde2{
    width: 39rem !important;
    border: solid;
    border-color: #808080;
}
.scale125.wrapperAirvisualWidget-62503809e80a527e85a0fde2{
    border-radius: 8px;
}